autom4te.cache
ChangeLog
configure
configure.ac
config.log
config.status
Makefile
Makefile.dep
Makefile.help
go/src/code.google.com
go/src/git.apache.org
go/src/github.com
go/src/golang.org
go/src/gopkg.in
go/src/honnef.co
go/bin/*
go/pkg
test
doc/txt
doc/html
doc/cover
thrift/gen-*
utils/env.sh
go/vpwire/*.png
vapor-*.tar.gz
docker/Dockerfile-build
docker/Dockerfile-demo
version.go
*~
*#*
.*.swp
