autom4te.cache
ChangeLog
configure
config.log
config.status
Makefile
Makefile.dep
Makefile.help
src/git.apache.org
src/github.com
src/golang.org
src/code.google.com
bin/vp*
bin/godep
bin/golint
pkg
test
doc/txt
doc/html
doc/cover
thrift/gen-*
utils/env.sh
vpwire/*.png
*~
*#*
.*.swp
