autom4te.cache
ChangeLog
configure
config.log
config.status
Makefile
Makefile.dep
Makefile.help
src/git.apache.org
src/github.com
src/golang.org
bin/vp*
bin/godep
bin/golint
pkg
doc/txt
doc/html
thrift/gen-*
*~
*#*
